<section>
    <ul>
{{#each this}}
<img src="{{this.image_url}}" alt="beer"/>
    <li> {{ this.name }} </li>
    <li> {{ this.description }} </li>
    <li> {{ this.tagline }} </li>
{{/each}}
    </ul>

</section>